.SocialFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #ffffff;
    border-top: 2px solid rgb(233, 233, 233);
    border-bottom: 2px solid rgb(233, 233, 233);

  }
  
  .social-row {
    display: flex;
  }
  
  .social-row > a {
    margin-right: 10px;
    color: #dfd7c0; 

    @media (max-width: 480px) {
      font-size: 18px; // Adjusted font size for small screens (e.g., mobile)
    }
  
    @media (min-width: 481px) and (max-width: 768px) {
      font-size: 22px; // Adjusted font size for medium-sized screens (e.g., tablets)
    }
  
    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 26px; // Adjusted font size for larger screens (e.g., small laptops)
    }
  
    @media (min-width: 1025px) and (max-width: 1200px) {
      font-size: 28px; // Adjusted font size for high-resolution screens
    }
  
    @media (min-width: 1201px) {
      font-size: 30px; // Adjusted font size for ultra-high-resolution screens
    }
}