// $font-family: 'Arial, Helvetica, sans-serif';

.DropdownGroup {
  display: flex;
  flex-direction: row;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
  
  .dropdown-text {
    // font-family: $font-family;
    margin-left: 6px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  .dropdown-icon {
    margin-top: 5px;
    align-self: flex-end;
  }
  
  @media (max-width: 480px) {
    font-size: 18px; // Adjusted font size for small screens (e.g., mobile)
  }

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 22px; // Adjusted font size for medium-sized screens (e.g., tablets)
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 26px; // Adjusted font size for larger screens (e.g., small laptops)
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
    font-size: 28px; // Adjusted font size for high-resolution screens
  }

  @media (min-width: 1201px) {
    font-size: 30px; // Adjusted font size for ultra-high-resolution screens
  }

}
  