.button {
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
  box-shadow: 0px 1px 8px #3a3a3a;
  transition: background-color 0.3s;

    &.return {
      border-radius: 50px;
      background-color: #B16100;
      // padding-left: 17px;
      width: 40px;
      height: 40px;

      &:hover {
        background-color: #fff;
        color: #B16100;
      }
    }

    &.menuHamburger {
      background-color: #B89676;
      padding: 40px;

      &:hover {
        background-color: #fff;
        color: #B89676;
      }
    }

    &.extraSmall {
      border-radius: 50px;
      background-color: #806F60;
      width: 42px;
      height: 42px;
      padding: 2px;
      font-size: 10px;

      &:hover {
        background-color: #ffffff;
        color: #B89676;
      }
    }

    &.small {
      border-radius: 50px;
      background-color: #806F60;
      width: 55px;
      height: 55px;
      padding: 2px;
      font-size: 12px;

      &:hover {
        background-color: #ffffff;
        color: #B89676;
      }
    }

    &.medium {
      border-radius: 50px;
      background-color: #806F60;
      width: 65.3px;
      height: 65.3px;
      padding: 2px;
      font-size: 14px;
      font-weight: 200;

      &:hover {
        background-color: #ffffff;
        color: #B89676;
      }
      @media (max-width: 480px) {
        font-size: 10px;
      }
    }

    &.large {
      border-radius: 50px;
      background-color: #5a4400;
      width: 86px;
      height: 86px;
      padding: 2px;
      font-size: 20px;

      &:hover {
        background-color: #ffffff;
        color: #B89676;
      }
    }

    &.primary {
      background-color: #806F60;
      color: #ffffff;
      height: 45px;
      width: 220px;
      transition: transform 0.3s ease;

      &:hover {
        background-color: #fff;
        color: #806F60;
        .OptionLabel::before {
          transform: translateX(0); /* Move the pseudo-element to reveal the text */
        }
  
        transform: translateX(10px);
      }
    }

    &.secondary {
      background-color: #B89676;
      font-size: 18px;
      width: 230px;
      height: 40px;
      border-radius: 40px;

      &:hover {
        background-color: #fff;
        color: #B89676;
      }
    }
    // Media Query for Small Screens (max-width: 480px)
  @media (max-width: 480px) {
    &.return {
      width: 30px;
      height: 30px;
    }

    &.extraSmall {
      width: 32px;
      height: 32px;
      font-size: 8px;
    }

    &.small {
      width: 45px;
      height: 45px;
      font-size: 10px;
    }

    &.primary {
      height: 23px;
      width: 110px;
    }

    &.medium {
      width: 55px;
      height: 55px;
      font-size: 12px;
    }

    &.large {
      width: 70px;
      height: 70px;
      font-size: 16px;
    }
  }

  // Media Query for Medium Screens (min-width: 481px) and (max-width: 768px)
  @media (min-width: 481px) and (max-width: 768px) {
    &.return {
      width: 35px;
      height: 35px;
    }

    &.extraSmall {
      width: 40px;
      height: 40px;
      font-size: 10px;
    }

    &.small {
      width: 50px;
      height: 50px;
      font-size: 12px;
    }

    &.medium {
      width: 60px;
      height: 60px;
      font-size: 14px;
    }

    &.large {
      width: 75px;
      height: 75px;
      font-size: 18px;
    }
  }

  // Media Query for Large Screens (min-width: 769px) and (max-width: 1024px)
  @media (min-width: 769px) and (max-width: 1024px) {
    &.return {
      width: 45px;
      height: 45px;
    }

    &.extraSmall {
      width: 50px;
      height: 50px;
      font-size: 12
    }
  }
  }