.paragraph--{
    font-family: 'Lexend', sans-serif;
    font-size: 36px;
    font-weight: bold;

    &.small{
        font-size: 12px;
        text-decoration: none;
        color: gray;
    }

    &.medium{
        font-size: 16px;
        font-weight: 300;
        color: gray;
    }

    &.large{
        font-size: 29px;
    }

    @media (max-width: 480px) {
        font-size: 14px; // Adjusted font size for small screens (e.g., mobile)
      }
    
      @media (min-width: 481px) and (max-width: 768px) {
        font-size: 22px; // Adjusted font size for medium-sized screens (e.g., tablets)
      }
    
      @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 26px; // Adjusted font size for larger screens (e.g., small laptops)
      }
    
      @media (min-width: 1025px) and (max-width: 1200px) {
        font-size: 28px; // Adjusted font size for high-resolution screens
      }
    
      @media (min-width: 1201px) {
        font-size: 30px; // Adjusted font size for ultra-high-resolution screens
      }
}