$font-family: 'Lexend', sans-serif;

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  font-family: $font-family;
  font-size: 12px;
  font-weight: 500;
  height: 120px;
  background-color: #ffffff;
  color: #dfd7c0;

  .left-text,
  .right-text {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .left-text {
    margin-bottom: 15px;
    padding-left: 40px;
  }

  .right-text {
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 40px;
  }

  // .right-text p:not(:last-child) {
  //   margin-right: 10px;
  // }

  .socials {
    background-color: white;
  }

  @media (max-width: 480px) {
    font-size: 12px; // Adjusted font size for small screens (e.g., mobile)
  }

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 12px; // Adjusted font size for medium-sized screens (e.g., tablets)
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 12px; // Adjusted font size for larger screens (e.g., small laptops)
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
    font-size: 12px; // Adjusted font size for high-resolution screens
  }

  @media (min-width: 1201px) {
    font-size: 12px; // Adjusted font size for ultra-high-resolution screens
  }
}