<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/30cb032a-c3e9-4afd-9129-ff13b2fc79c9/resourceGroups/HappyPawsResourceGroup/providers/Microsoft.Web/sites/HappyPaws-BackendASP</ResourceId>
    <ResourceGroup>HappyPawsResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/30cb032a-c3e9-4afd-9129-ff13b2fc79c9/resourceGroups/HappyPawsResourceGroup/providers/Microsoft.ApiManagement/service/HappyPaws-API-Management/apis/echo-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://happypaws-backendasp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b78e2dc5-83b0-45de-965c-ab513e144d89</ProjectGuid>
    <MSDeployServiceURL>happypaws-backendasp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HappyPaws-BackendASP</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$HappyPaws-BackendASP</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>